@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Smooch+Sans:wght@100..900&display=swap');

:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5dcc7;
    font-family: "Courier Prime", serif;

    h1,h2,h3,h4{
        margin: 0;
    }
    p {
        margin: 0;
    }
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    padding-block: 1rem;
}

.Main-container {
    max-width: 100%;
}

header{
    display: flex;
    position: relative;
    padding-top: 20px;

    h1{
        font-weight: 700;
        padding-left: 1em;
        /* margin-inline: 1rem; */
    }

}


/* Sections */
#Big-sections{
    display: flex;
    flex-direction: column;
}
.sections{
    padding: 2em;
}

#section-one {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    gap: 2em;
}

#section-one #section-one-one {
    display: flex;
    flex-direction: column;

    h2{
        font-size: 3rem;
        margin: 0;
        padding: 15px;
    }

    p {
        padding: 5px;
        margin: 0;
        line-height: 40px;
    }
}

#section-one-one .others{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;

    h3{
        padding: 0;
    }

    p{
        padding: 0;
    }
}

#section-one-one .others div p {
    padding: 0;
}


.education,
.new-section {
    background-color: #fff;
    margin: 2em;
    padding: 1em;
    border-radius: 10px;
}

.project-titles {
    font-weight: 600;
    font-size: 1.4rem;
}

.project-titles  {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-block: 10px;
}

.cert-div :nth-child(1) {
    font-weight: 700;
}

.cert-div {
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-span {
    display: block;
}

@media (width < 500px) {
    .cert-div {
        margin-bottom: 10px;
    }
}

@media (width > 500px) {
    #section-one-one .others {
        justify-content: space-evenly;   
    }
}

@media (width > 700px) {
    .education-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }

    #section-one-one .others {
        padding: 2em;
    }

    .project-titles  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    
    .cert-div {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media (width > 800px) {
    #section-one #image {
    height: 500px;
    background-image: url(Images/Picture-one.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    }

    #section-one {
        display: grid;
    }

    #section-one #section-one-one p {
        padding: 15px;
    }

    .contacts {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
}

